# config/local.yaml
resources:
  # PostgreSQL Database
  sc_reporting_service_pg_db:
    type: "postgres"
    config:
      database: ${SC_REPORTING_SERVICE_PG_DB_NAME}
      host: ${SC_REPORTING_SERVICE_PG_DB_HOST}
      port: ${PG_DB_PORT:-5432}
      username: ${SC_REPORTING_SERVICE_PG_DB_USER}
      password: ${SC_REPORTING_SERVICE_PG_DB_PASSWORD}
  sc_ep_pg_db:
    type: "postgres"
    config:
      database: ${SC_EP_PG_DB_NAME}
      host: ${SC_EP_PG_DB_HOST}
      port: ${PG_DB_PORT:-5432}
      username: ${SC_EP_PG_DB_USER}
      password: ${SC_EP_PG_DB_PASSWORD}
  # MySQL Databases
  sc_amt_replica_mysql_db:
    type: "mysql"
    config:
      database: ${SC_AMT_REPLICA_MYSQL_DB_NAME}
      host: ${SC_AMT_REPLICA_MYSQL_DB_HOST}
      port: ${MYSQL_DB_PORT:-3306}
      username: ${SC_AMT_REPLICA_MYSQL_DB_USER}
      password: ${SC_AMT_REPLICA_MYSQL_DB_PASSWORD}
  # ClickHouse databases
  sc_ch_db:
    type: "clickhouse"
    config:
      database: ${SC_CH_DB_NAME}
      host: ${SC_CH_DB_HOST}
      port: ${SC_CH_DB_PORT:-8123}
      username: ${SC_CH_DB_USER}
      password: ${SC_CH_DB_PASSWORD}

assets:
  customers:
    config:
      table_name: customers
      source_resource: sc_amt_replica_mysql_db
      destination_resource: sc_reporting_service_pg_db
      batch_size: 15000
      sync_mode: incremental
      incremental_column: updated_at
      incremental_value: "2025-01-01"