services:
  ollama:
    #image: ollama/ollama:latest
    image: ollama/ollama:0.11.4 # https://hub.docker.com/layers/ollama/ollama/0.11.4/images/sha256-1514372d3cef7387b6202b253e761d820e00e44b28f268aad5029389d0479e99
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
      - OLLAMA_LLM_MAX_MEMORY=6000MB
      - OLLAMA_NUM_THREADS=6
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_KEEP_ALIVE=5m
      - OLLAMA_NUM_PARALLEL=1
    deploy:
      resources:
        limits:
          cpus: '6.0'
        reservations:
          cpus: '2.0'
    networks:
      - data-ops-network
  open-webui:
    image: ghcr.io/open-webui/open-webui:main 
    container_name: open-webui
    ports:
      - "8081:8080"   # maps host:8081 to container:8080
    volumes:
      - ./data:/app/backend/data
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY:-your-secret-key}
      - WEBUI_JWT_SECRET_KEY=${WEBUI_JWT_SECRET_KEY:-your-jwt-secret}
      - WEBUI_NAME=${WEBUI_NAME:-Database Query Assistant}
      - DEFAULT_USER_ROLE=${DEFAULT_USER_ROLE:-user}
      - ENABLE_SIGNUP=${ENABLE_SIGNUP:-true}
      # PostgreSQL connection to an existing DB
      - DATABASE_URL=postgresql://${PG_OPEN_WEBUI_USER}:${PG_OPEN_WEBUI_PASSWORD}@postgres:5432/${PG_OPEN_WEBUI_DB:-webui_db}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    depends_on:
      - postgres
      - ollama
    networks:
      - data-ops-network
networks:
  data-ops-network:
    external: true