#IDE
#.vscode/

# dependencies
/node_modules

# data/
# Ignore everything in data/
data/*

# But not these specific files
!data/.gitkeep
!data/generate_dummy_data.py
!data/sales_data.csv

# local env files
.env*.local
.env

# Docker volumnes
pgadmin-volume/
mongodb-volume/
pgadmin-volume/
mysql-db-volume/

# BigQuery Keyfile
bigquery-keyfile.json

# test output
/tests

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
venv/
data-ops-venv/
test.py


# Apache Airflow
airflow_home/
logs/
__pycache__/
dag_generated_configs/
issue.json

# clickhouse
clickhouse-logs/

# Dagster
dagster-home/

# dbt
target/