#IDE
#.vscode/

# dependencies
/node_modules

# data/
# Ignore everything in data/
data/*

# But not these specific files
!data/.gitkeep
!data/generate_dummy_data.py
!data/sales_data.csv

# local env files
.env*.local
.env

# Neo4j
01-databases/neo4j/data/neo4j/dbms/
01-databases/neo4j/data/neo4j/databases/
01-databases/neo4j/logs/

# Docker volumnes
pgadmin-volume/
mongodb-volume/
pgadmin-volume/
mysql-db-volume/

# BigQuery Keyfile
bigquery-keyfile.json

# test output
/tests

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
venv/
data-ops-venv/


# Apache Airflow
airflow_home/
logs/
__pycache__/
dag_generated_configs/
issue.json

# clickhouse
clickhouse-logs/

# Dagster
dagster-home/*
!dagster-home/dagster.yaml
!dagster-home/workspace.yaml

# dbt
target/