services:
  postgres:
    extends:
      file: 01-databases/01-postgres/docker-compose-postgres.yml
      service: postgres
  mysql-db:
    extends:
      file: 01-databases/02-mysql/docker-compose-mysql.yml
      service: mysql-db
  redis:
    extends:
      file: 01-databases/redis/docker-compose-redis.yml
      service: redis
  redisinsight:
    extends:
      file: 01-databases/redis/docker-compose-redis.yml
      service: redisinsight

  # Kafka Services
  kafka-zookeeper:
    extends:
      file: 03-messaging/01-kafka/docker-compose-kafka.yml
      service: kafka-zookeeper
  kafka:
    extends:
      file: 03-messaging/01-kafka/docker-compose-kafka.yml
      service: kafka
  kafka-ui:
    extends:
      file: 03-messaging/01-kafka/docker-compose-kafka.yml
      service: kafka-ui
  # Airflow Services
  airflow-webserver:
    extends:
      file: workflow-orchestration/airflow/docker-compose-airflow.yml
      service: airflow-webserver
  airflow-scheduler:
    extends:
      file: workflow-orchestration/airflow/docker-compose-airflow.yml
      service: airflow-scheduler

  # Dagster Services
  dagster:
    extends:
      file: workflow-orchestration/02-dagster/docker-compose-dagster.yml
      service: dagster
  dagster_webserver:
    extends:
      file: workflow-orchestration/02-dagster/docker-compose-dagster.yml
      service: dagster_webserver
  dagster_daemon:
    extends:
      file: workflow-orchestration/02-dagster/docker-compose-dagster.yml
      service: dagster_daemon

  # Prefect Services
  prefect-server:
    extends:
      file: workflow-orchestration/prefect/docker-compose-prefect.yml
      service: prefect-server
  prefect-services:
    extends:
      file: workflow-orchestration/prefect/docker-compose-prefect.yml
      service: prefect-services
  prefect-worker:
    extends:
      file: workflow-orchestration/prefect/docker-compose-prefect.yml
      service: prefect-worker
  

  # ClickHouse Services
  clickhouse-server:
    extends:
      file: 04-warehouse/01-clickhouse/docker-compose-clickhouse.yml
      service: clickhouse-server
  clickhouse-tabix-web-client:
    extends:
      file: 04-warehouse/01-clickhouse/docker-compose-clickhouse.yml
      service: clickhouse-tabix-web-client

  # Open Metadata Services
  elasticsearch:
    extends:
      file: metadata-tools/01-open-metadata/docker-compose-open-metadata.yml
      service: elasticsearch
  open-metadata-server:
    extends:
      file: metadata-tools/01-open-metadata/docker-compose-open-metadata.yml
      service: open-metadata-server
  open-metadata-execute-migrate-all:
    extends:
      file: metadata-tools/01-open-metadata/docker-compose-open-metadata.yml
      service: open-metadata-execute-migrate-all
  # Dashboards
  ## 1. Grafana Services
  grafana:
    extends:
      file: 06-dashboards/grafana/docker-compose-grafana.yml
      service: grafana
  ## 2. Taipy Services
  taipy:
    extends:
      file: 06-dashboards/taipy/sales-dashboard/docker-compose-taipy.yml
      service: taipy
  prometheus:
    extends:
      file: 06-dashboards/grafana/docker-compose-grafana.yml
      service: prometheus
  loki:
    extends:
      file: 06-dashboards/grafana/docker-compose-grafana.yml
      service: loki
  postgres-db-exporter:
    extends:
      file: 06-dashboards/grafana/docker-compose-grafana.yml
      service: postgres-db-exporter

  # From docker-compose-docusaurus.yml
  docusaurus:
    extends:
      file: docs/docusaurus-site/docker-compose-docusaurus.yml
      service: docusaurus

  # Machine Learning Services
  ml-flow:
    extends:
      file: ml-models/ml-flow/docker-compose-ml-flow.yml
      service: ml-flow

  # AI MCP Services
  ollama:
    extends:
      file: ai/open-webui/docker-compose-open-webui.yml
      service: ollama
  open-webui:
    extends:
      file: ai/open-webui/docker-compose-open-webui.yml
      service: open-webui
# Define Volumes
volumes:
  # Database Volumes
  postgres-data:
    external: true
  mysql-db-volume:
    external: true
  redis-data:
    external: true
  # Messaging Volumes
  kafka-zookeeper-data:
    external: true
  kafka-data:
    external: true
  # Datawarehouse Volumes
  clickhouse-server-data:
    external: true
  elasticsearch-vol:
    external: true
  # Grafana Volumes
  grafana-vol:
    external: true
  prometheus-vol:
    external: true
  loki-vol:
    external: true
  # AI Volumes
  ollama-data:
    external: true

# Define Networks
networks:
  data-ops-network:
    external: true
