services:
  mysql:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - ../../.env
    environment:
      MYSQL_ROOT_PASSWORD: ${LOCAL_MYSQL_DB_PASSWORD}
    command: --bind-address=0.0.0.0 --wait_timeout=28800 --interactive_timeout=28800
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - data-ops-network

################################ Networks ############################################
networks:
  data-ops-network:
    external: true

################################ Volumes ############################################
volumes:
  mysql-db-volume:
    name: mysql-data
