.layoutContainer {
  display: flex;
  height: 100vh;
}
.leftSidebarContainer {
  background: #d8dcd6;
  width: 25%;
  /*width: 20vw;*/ /* Sidebar takes 20% of the viewport width */
  padding: 1rem;
  border-right: 1px solid #197ac4;
  float: left;
  /*position: fixed;*/
  top: 0;
  left: 0;
  bottom: 0;
}
.mainContainer {
  width: 75%;
  padding: 1rem;
}

.unorderedList {
  list-style-type: none;
}
.unorderedList li {
  padding: 5px 10px;
  border: 1px solid #DDDDDD;
  /*background-color: #EEEEEE;*/
}
