
.sidebarContainer {
  background: #d8dcd6;
  /*border: 1px dotted purple;*/
  border-right: 1px solid #ddd;
  width: 20vw; /* Sidebar takes 20% of the viewport width */
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 50px); /* Adjust height to fill the viewport */
}
