services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - ../../.env
    environment:
      PGUSER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    command: -c 'shared_preload_libraries=pg_stat_statements'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d/
    healthcheck:
      test: [
          "CMD-SHELL",
          "PGPASSWORD=${PG_PASSWORD} psql -U ${PG_USER} -d postgres -c 'SELECT 1'",
        ] 
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - data-ops-network
################################ Networks ############################################
networks:
  data-ops-network:
    external: true 
################################ Volumes ############################################
volumes:
  postgres-data:
    name: postgres-data
