services:
  customers-api:
    build:
      context: .
      dockerfile: Dockerfile
    image: customers-api
    container_name: customers-api
    ports:
      - "3001:3001"
    env_file:
      #- ../../.env
      - ./02-apis/01-customers-with-express.js-and-postgres-db/.env
    depends_on:
      - postgres
    networks:
      - data-ops-network
networks:
  data-ops-network:
    name: data-ops-network
    driver: bridge
################################ Volumes ############################################
