.headerContainer {
  /*background: #00022e;*/
  /*background: #bc1a6b;*/
  background: #50586c;
  /*color: #fff;*/
  /* padding: 1% 0;*/
  padding: 1.5rem 0;
  /*font-size: 30px;*/
  width: 100%;
}
.navbarContainer {
  padding: 1rem 0;
  border: 2px solid red;
}
.navbarBrand {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
}

.navbarToggler {
  background-color: #7eb444;
  width: 47px;
  height: 34px;
  border: none;
}

.navbarToggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar a:hover,
.navbarNav li a:hover,
.navbarNav li.active a {
  color: #fff;
  background-color: #c1d3fe;
}
