services:
  redis:
    image: redis:8.2.0
    container_name: redis
    command: [
        "redis-server",
        "--appendonly", # Redis logs all writes to the appendonly.aof file in /data.
        "yes",
        "--requirepass",
        "${REDIS_PASSWORD}",
      ]
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    env_file:
      - ../../.env
    networks:
      - data-ops-network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  redisinsight:
    image: redislabs/redisinsight:2.70
    container_name: redisinsight
    ports:
      - "5540:5540"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDISINSIGHT_HOST=0.0.0.0
    env_file:
      - ../../.env
    networks:
      - data-ops-network
    depends_on:
      - redis

volumes:
  redis-data:

networks:
  data-ops-network:
    external: true
